<%- include('./partials/header')-%>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Pays</th>
                    <th scope="col">Club</th>
                    <th scope="col">Poste</th>
                    <th scope="col">Numero</th>
                  </tr>
                </thead>

                <tbody>
                <% players.forEach(function(player) {%>
                  <tr>
                    <th scope="row">1</th>
                    <td><%=player.firstname%></td>
                    <td><%=player.lastname%></td>
                    <td><%=player.country%></td>
                    <td><%=player.club%></td>
                    <td><%=player.position%></td>
                    <td><%=player.number%></td>
                  </tr>
                <%});%>
                
                  
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('./partials/footer')-%>